<section class="menu-section menu-section--<%- type %>">
    <h3 class="menu-section__title"><%- name %></h3>
    <div class="menu-section__meals">
        <% meals.forEach((meal, index) => { %>
            <article class="meal" data-meal-index="<%- index %>">
                <div class="meal__info-container">
                    <div class="meal__text">
                        <h4 class="meal__name"><%- meal.name %></h4>
                        <p class="meal__desc"><%- meal.desc %></p>
                    </div>
                    <p class="meal__price"><%- meal.price %>€</p>
                </div>
                <div class=meal__ordered>
                    <i class="fas fa-check-circle"></i>
                </div>
            </article>
        <% }) %>
    </div>
</section>
