<div class="restaurant-card">
    <a href="<%- restaurant.url %>">
        <div class="restaurant-card__image">
            <% if(restaurant.isNew) { %>
            <div class="restaurant-card__image__badge">Nouveau</div>
            <% } %>
            <img src="images/restaurants/<%- restaurant.image %>" alt="<%- restaurant.name %>" />
        </div>
    </a>
    <div class="restaurant-card__info__container">
        <a href="<%- restaurant.url %>">
            <section class="restaurant-card__info">
                <h3 class="restaurant-card__info__name"><%- restaurant.name %></h3>
                <p class="restaurant-card__info__location"><%- restaurant.location %></p>
            </section>
        </a>
        <%- include("like-button", {}) %>
    </div>
</div>
