<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Ohmyfood! <% if (title) { %> - <%= title %> <% } %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
    </head>
    <body>
        <%- include('header', {header: header, isHome: (main.type === "home")}); %> <% if (main.type
        === "home") { %> <%- include('home', {main: main}); %> <% } else { %> <%- include('menu',
        {main: main}); %> <% } %> <%- include('footer', {footer: footer}); %>
    </body>
</html>
